/*__________________________________________________DATA__*/

:root {
	--colorP: #008DB9;
	--colorS: #E67200;
	--colorT: #FFFFFF;
	--backgroundDark: #302112;
	--backgroundLight: #D9D9D9;

	scroll-behavior: smooth;
}

@font-face {
	font-family: Montserrat;
	src: url(font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(font/Montserrat/Montserrat-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: RussoOne;
	src: url(font/Montserrat/RussoOne-Regular.ttf);
	font-weight: bold;
}

/*__________________________________________________DATA__*/
/*__________________________________________________ALL__*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Montserrat;
	text-decoration: none;
	color: var(--colorT);
}

body {
	width: auto;
	min-height: 100vh;
}

/*__________________________________________________ALL__*/